# Contract deployed on Testnet
NEXT_PUBLIC_CONTRACT_ID=CDSFHKYGY74SYQJNQSMCRQBO4FAUFQ4E5SWPA27T76T2KCISCMTBLH76
NEXT_PUBLIC_STELLAR_NETWORK=TESTNET
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org

PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlMmI2YWE3Zi04NjlmLTRiYzgtYmI0NS0zZDJlNGNjYzc0NWEiLCJlbWFpbCI6Impvc3VlbWFyaW4yMDA5QGhvdG1haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImEzZWMxM2QwZWRjYTgzMTA2ZmJiIiwic2NvcGVkS2V5U2VjcmV0IjoiNDJjYjFiYjQzZTVjN2E5ODViY2U2OGQ4NDc0OWIzNDU4ZTFlMDBjYmMzNmY5MDc2NTgxMjVkYmZkYTk2OTY1ZSIsImV4cCI6MTc5NTM4ODI3Mn0.eLuyPH73PCwGO8Uxk-0scf6ycmcBb_THWJIiq0cIkvI