# Contract deployed on Testnet
NEXT_PUBLIC_CONTRACT_ID=CCBYVXQXGVUGTKLRK7A3GQPP2RYSHCFAPH2UG2INP3YB3IKAERME4QMP
NEXT_PUBLIC_STELLAR_NETWORK=TESTNET
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
