# Polkadot/Substrate Configuration
NEXT_PUBLIC_WS_PROVIDER=ws://127.0.0.1:9944
NEXT_PUBLIC_CONTRACT_ADDRESS=

# Escrow Contract
NEXT_PUBLIC_ESCROW_CONTRACT_ADDRESS=

# KILT Protocol Configuration
# Testnet (Peregrine)
NEXT_PUBLIC_KILT_NETWORK=wss://peregrine.kilt.io
# Mainnet (Spiritnet)
# NEXT_PUBLIC_KILT_NETWORK=wss://spiritnet.kilt.io

